<div class="heading-wrap">
  <h2 class="text-uppercase">
    Thank You<span class="ampersant">for</span>Participating
  </h2>
  <p class="subtitle text-uppercase">In our Pre-launch</p>
</div>
</div>
<p class="mb-5"><b>We are compiling rewards now</b> and will email coupon<br />codes to all recipients in the next day or two.</p>
<b>Thank You Again!</b>