@media screen and (min-width: 1600px){
  .container {
    max-width: 1380px;
  }
  .home-wrapper{
    .bottom-prod {
      height: auto;
    }
    .top-prod {
      height: auto;
    }
  }
  h1{
    font-size: 88px;
    line-height: 120px;
  }
  h2{
    font-size: 66px;
    line-height: 90px;
  }
  body{
    font-size: 24px;
    line-height: 29px;
  }
  .subtitle{
    font-size: 22px;
    line-height: 27px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .container {
    max-width: 1066px;
  }
}
@media screen and (max-width: 991px){
  .home-wrapper{
    .bottom-prod {
      height: 300px;
    }
    .top-prod {
      height: 300px;
    }
  }
  body{
    font-size: 20px;
    line-height: 29px;
  }
  .subtitle{
    font-size: 18px;
    line-height: 24px;
  }
  .form-wrapper{
    .form-inline{
      .form-group {
        width: 40%;
        &:nth-child(2n) {
          width: 24%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  .home-wrapper{
    .bottom-prod {
      height: 200px;
    }
    .top-prod {
      height: 200px;
    }
  }
  h1{
    font-size: 36px;
    line-height: 49px;
    margin-top: 50px;
  }
  h2{
    font-size: 32px;
    line-height: 50px;
  }
  body{
    font-size: 18px;
    line-height: 18px;
  }
  .subtitle{
    font-size: 16px;
    line-height: 22px;
  }
  .page-wrapper{
    .logo {
      width: 90px;
    }
  }
  .form-wrapper{
    margin-top: 0;
    .form-inline{
      .form-group {
        width: 100%;
        margin-right:0;
        &:nth-child(2n) {
          width: 100%;
        }
      }
    }
  }
  .prizes{
    .progress{
      top: 90px;
      .mover{
        width: 0%;
      }
    }
    &.prize-two .progress .mover { width:25% ; }
    &.prize-three .progress .mover{ width: 50%; }
    &.prize-four .progress .mover{ width: 75%; }
    &.prize-five .progress .mover{ width: 100%; }
     ul.products{
      li.title{
        display: none;
      }
      li.product{
        width: 25%;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}